body, html, .footer {
    height: 100vh;
}

.header, .footer {
  background-color: #13b5ea;
}

.footer {
    font-style: italic;
    font-size: smaller;
    text-align: center;
}

.site-title {
  font-size: 2em;
}

.sidebar {
    text-align: justify;
    text-justify: inter-word;
}

.profiler {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.date-posted {
    font-size: 0.8em;
    font-style: italic;
    vertical-align: middle;
    float: right;
}

.content-body {

}

.tags-list {
    font-size: 0.8em;
    font-style: italic;
    font-weight: lighter;
    color: #555555;
    padding-top: 10px;
}