{% load static %}

<h4>About Me</h4>
<img src="{% static 'blog/me.jpeg' %}" class="profiler"/>
<p>I have been working in software development, of one sort or another, for almost the past 11 years. In
    that time, I've worked with a few different languages, in a variety of industries. At the moment, I'm a CG Pipeline
    Supervisor in a 3D Animation company that's working on TV series and features. I'm constantly looking to learn new
    technologies, which is what prompted me to build this blog and to keep it as a log of stuff that I've found useful.
    Hopefully it will be useful to other developers too!</p>

