{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rob Greene - Software Developer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark justify-content-between p-3 header">
    <a class="navbar-brand site-title" href="{% url 'home' %}">Rob Greene | <span class="text-muted">Software Developer</span></a>
    <form class="form-inline" action="." type="get">
        <div class="input-group">
            <input id="search_box" name="search_box" class="form-control" type="search" placeholder="Search" aria-label="Search"/>
            <button id="search_submit" class="btn btn-outline-dark" type="submit">Search</button>
        </div>
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        {% include "blog/sidebar.html" %}
        <div class="col-sm-9 content p-4">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="row footer">
        <div class="col-sm-12 pl-4 pt-2 ">
            <p class="text-muted">Note that all ideas, work and code examples that are posted to this blog that have no
                attribution can be assumed to be my work and can be freely reproduced unless specifically stated
                otherwise.</p>
        </div>
    </div>
</div>
<script type="javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>